<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" style="font-family: 'Monotype Corsiva';color:red" href={{url_for('home')}}>Home</a>
            <a class="nav-link" style="font-family: 'Monotype Corsiva';color:darkorange" href={{url_for('binary')}}>Binary</a>
            <a class="nav-link" style="font-family: 'Monotype Corsiva';color:goldenrod" href={{url_for('pranavi')}}>Pranavi</a>
            <a class="nav-link" style="font-family: 'Monotype Corsiva';color:green" href={{url_for('sarayu')}}>Sarayu</a>
            <a class="nav-link" style="font-family: 'Monotype Corsiva';color:darkblue" href={{url_for('saathvika')}}>Saathvika</a>




        </div>
    </div>
</nav>