<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #c27370; font-family: Trebuchet MS;">
    <IMG SRC="/static/assets/flamingo.gif/ " height="40px" width="40px" style="margin-right: 15px; font-family: Trebuchet MS">


    <!--<img src="https://d1x26sjkwh9vok.cloudfront.net/uploads/profile/20210318/6d4b2890-31a2-4ce1-b600-7f17a7ed555d.png" height="40px" width="40px" style="margin-right: 15px"> -->
    <a class="navbar-brand" href="{{ url_for('index') }}">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href="https://sarayu-pr11.github.io/team-narks/">GitHub Page</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Database~
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a style="color: black" class="nav-link" href={{ url_for('crud.crud') }}>SQL CRUD</a>
                    <a style="color: black"class="nav-link" href={{ url_for('crud.search') }}>SQL Search</a>
                    <a style="color: black"class="nav-link" href={{ url_for('planner.planner') }}>Planner</a>
                    <a style="color: black"class="nav-link" href={{ url_for('planner.search') }}>Planner Search</a>

                </div>
            </li>




            <!-- stub is shown using the name of the route -->


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/natalie_abt">Natalie</a>
                    <a class="dropdown-item" href="/abby_abt">Abby</a>
                    <a class="dropdown-item" href="/riya_abt">Riya</a>
                    <a class="dropdown-item" href="/kamryn_abt">Kamryn</a>
                    <a class="dropdown-item" href="/sarayu_abt">Sarayu</a>

                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Layout Ideas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/music">Music</a>
                    <a class="dropdown-item" href="/hwtimer">Homework Timer</a>
                    <a class="dropdown-item" href="/reminders">Reminders</a>
                    <a class="dropdown-item" href="/wheel">Meals</a>
                    <a class="dropdown-item" href="/palindrome">Pali</a>
                    <a class="dropdown-item" href="/tips">Tips</a>
                    <a class="dropdown-item" href="/flashcards">Flashcards</a>
                    <a class="dropdown-item" href="/calculator">Calculator</a>
                    <a class="dropdown-item" href="/calendar">Calendar</a>
                    <a class="dropdown-item" href="/quiz">Quiz</a>
                    <a class="dropdown-item" href="/dictionary">Dictionary</a>
                    <a class="dropdown-item" href="/motivation">Motivational Quotes</a>
                    <a class="dropdown-item" href="/translate">Translate</a>
                    <a class="dropdown-item" href="/rewording">Paraphraser</a>

                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLabs" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Break from Studying
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/tictactoe">Tic-Tac-Toe</a>
                    <a class="dropdown-item" href="/sudoku">Sudoku</a>
                    <a class="dropdown-item" href="/meditation">Meditation</a>
                    <a class="dropdown-item" href="/draw">Draw</a>


                </div>
            </li>


        </div>
    </div>
</nav>
