<!DOCTYPE html>

{% set project = "Page Not Found" %}

{% block content %}
    <div class="index">
        <div class="center-block" style="margin: 2% 10% 10%; font-family: 'Trebuchet MS'; color: #fff7d7; background-image:url('https://i.ytimg.com/vi/2m-91UTAbY0/maxresdefault.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-size:cover;">
            <br>
            <div class="col-12" style="text-align: center;">
                <h1><strong>Something Went Wrong</strong></h1>
            </div>

            <br><br>
            <div class="jumbotron jumbotron-fluid" style="text-align: center; ">
                <h2>404 Not Found!</h2>
                <a href="/"><br>Go Home</a>

            </div>
            <br>
        </div>
    </div>


    <style>
    body {
        background-color: #fff7d7;
    }

    </style>

{% endblock %}

{% block background %}
{% endblock %}