<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Abby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here ->


<!- This variable sets name of browser tab  -->
{% set project = "Abby" %}



    <!-- this is the title and the name bar code -->
    <!--suppress CssUnknownTarget -->
    <body>

    <!--  <div class="col-12"> -->
    <!--</div> -->

    <!--#faf9e3 -->
    <h2 style="margin: 2% 5% 7%; text-align:left; color: #A2E2DB;"
                             >What's up? Welcome to Abby's Page.</h2>

    <div>
        <h3 style="text-align: center; color: #b4f1ff;"

        >I like the color blue, The Binding of Isaac, and field hockey. </h3>
        <h3 style="text-align: center; color: #b4f1ff;"
            >My favorite foods are dried mango and sour cream and onion chips.
        I love eels!
        </h3>

        <h4 style="text-align: center; color: #b4f1ff;"
        >I wanted my Create task to have something to do with recreation since having fun is something literally everyone can relate to. Therefore, some of my ideas were to create a recommended game search box, a music recs generator, or simply a searchable table full of my own favorite songs/games. </h4>

        <img height="200">
        <img id="oldImage" src="/static/assets/abbymask.jpg/">"



    </body>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

