<!DOCTYPE html>
<html lang="en">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
  <meta charset="UTF-8">
  <title>Blue</title>
</head>

{% block body %}

<body style="background-color: #9EC1CF; align-content: center">
<h1 class="text-center" style="margin-top: 3%;color: black;">Official DNHS Discords</h1>
<br>

<style> table, th, td {
  border: 1px solid blue;
  border-collapse: collapse;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #9EC1CF;}
</style>

<table style="width:75%; align-content: center; color: blue; font-family: monospace">
  <tr>
    <th>Server</th>
    <th>Invite</th>
  </tr>
  <tr>
    <td>Team Optix</td>
    <td>https://discord.gg/gvF6XbSTPC</td>
  </tr>
  <tr>
    <td>AP CSP</td>
    <td>https://discord.gg/Fq8nMHwRFE</td>
  </tr>
  <tr>
    <td>AP Chem</td>
    <td>https://discord.gg/meJWTVSFmS</td>
  </tr>
  <tr>
    <td>The Featheralist</td>
    <td>https://discord.gg/bmyFWeSXhr</td>
  </tr>
  <tr>
    <td>GSA</td>
    <td>https://discord.gg/QKNe2uYtMx</td>
  </tr>
  <tr>
    <td>Business and Technology</td>
    <td>https://discord.gg/x4BhRqVc4S</td>
  </tr>
  <tr>
    <td>Diverse Diaries</td>
    <td>https://discord.gg/5dugv6Mp5C</td>
  </tr>
  <tr>
    <td>Model UN</td>
    <td>https://discord.gg/tdeEEY2Dvd</td>
  </tr>
</table>

</body>

</html>

{% endblock %}