<!DOCTYPE html>
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}

{% set project = "minilabsmain" %}

{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Labs</title>
    <div class="center-block" style="margin: 7% 10% 10%; text-align:center; font-family:monospace; color:ghostwhite;">
<body style="background-color:#e8bcbc;">
<div class="col-12">
    <p style="font-size: 42px; font-family: 'Monotype Corsiva';">Sarayu's, Saathvika's, and Pranavi's Mini Labs</p>
    <p><a href="{{url_for('greet')}}" style="color: #6a3680;">- Greet Project -</a></p>
    <p><a href="{{url_for('binary')}}" style="color: #6a3680;">- Binary Project -</a></p>
    <p><a href="{{url_for('rgbsarayu')}}" style="color: #6a3680;">- RGB Project -</a></p>
    <p><a href="{{url_for('logicgates')}}" style="color: #6a3680;">- Logic Gates -</a></p>
    <p><a href="{{url_for('unsignedaddition')}}" style="color: #6a3680;">- Unsigned Addition -</a></p>
    <p><a href="{{url_for('signedaddition')}}" style="color: #6a3680;">- Signed Addition -</a></p>
    <p><a href="{{url_for('test')}}" style="color: #6a3680;">- Color Codes -</a></p>

    <p><a href="https://www.figma.com/file/09Q79Juu9EWrzc5aoAQBCB/Themes-Wireframe?node-id=0%3A1" style="color: #6a3680;">- Wireframes -</a></p>
    <p><a href="https://docs.google.com/document/d/1dGbP1QwYPmr9jza4v5N_Ax1O_SkZtLuT6h_Xa6NHENA/edit?usp=sharing" style="color: #6a3680;">- Brainwrites -</a></p>
</body>
</html>
{% endblock %}