<!-- Custom file for standardizing Project Data
This HTML is set up as a Jinja2 layout, coders use layouts for:
 ... standardization of style
 ... setting expectations for data
 ... code reuse
-->
<!DOCTYPE HTML>
<html lang="en">


<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        html, body{
            margin: 0;
            height: 100%;
            background-color: black;
            color: ghostwhite;
        }

        h1{
            font-size: 5em;
            font-family:'Monotype Corsiva';
            color:ghostwhite;
        }

    </style>
    {% block meta %}
    {% endblock %}


</head>

<body>

{% include "layouts/navbar.html" %}

{% block body %}

<div class="center block" style="margin: 5% 10% 10%; text-align:center; font-family:'Monotype Corsiva'; color:ghostwhite;">
    <h1>DNHS Student Guide</h1>
</div>

<div class="container" style="margin: 5% 10% 10%; text-align:center; font-family:'Monotype Corsiva'; color:ghostwhite;">



<br><br><br>
    <a id="overall" href="{{url_for('index')}}">
        <img style="position:center; top:270px; left:610px;" src="../static/assets/colorwheel7_adobespark.png"/>
    </a>

    <a id="purple" href="{{url_for('purple')}}">
        <img style="position:fixed; top:324px; left:608px;" src="../static/assets/colorwheel5_adobespark.png"/>
    </a>

    <a id="red" href="{{url_for('red')}}">
        <img style="position:fixed; top:264px; left:687px;" src="../static/assets/colorwheel_adobespark.png"/>
    </a>

    <a id="orange" href="{{url_for('orange')}}">
        <img style="position:fixed; top:314px; left:762px;" src="../static/assets/colorwheel2_adobespark.png"/>
    </a>

    <a id="blue" href="{{url_for('blue')}}">
        <img style="position:fixed; top:424px; left:612px;" src="../static/assets/colorwheel6_adobespark.png"/>
    </a>

    <a id="yellow" href="{{url_for('yellow')}}">
        <img style="position:fixed; top:422px; left:762px;" src="../static/assets/colorwheel3_adobespark.png"/>
    </a>

    <a id="green" href="{{url_for('green')}}">
        <img style="position:fixed; top:435px; left:698px;" src="../static/assets/colorwheel4_adobespark.png"/>
    </a>
</div>


<style>
    .container {
        width:900px;
        height:900px;
    }

    .container img {
        max-width:100%;
        position:fixed;
    }
</style>
{% endblock %}
</body>

{% block background %}

{% endblock %}
