<!DOCTYPE html>
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to index page -->
{% set project = "Portfolio" %}
{% set overview = "https://nighthawkcodingsociety.com/projectsearch/details/Flask%20Portfolio%20Starter" %}
{% set repo = "https://github.com/nighthawkcoders/flask_portfolio/" %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Labs</title>
</head>
## Sarayu's, Saathvika's, and Pranavi's Mini Labs
<body>
#Greet Project
#Binary Project
#RGB Project
<br>
<p><a href="https://www.figma.com/file/09Q79Juu9EWrzc5aoAQBCB/Themes-Wireframe?node-id=0%3A1">Wireframes</a></p>
</body>
</html>