<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Memory</title>
</head>


<div class="container">
    <div class="data">
        <div style="color: white" class="score">Score : <span class="scoreBoard">0</span></div>
        <div style="color: white" class="click">Click : <span class="clickBoard">0</span></div>
    </div>
    <div class="grid">
        <div class="popup">
            <button style="text-align: center; font-size: 30px; margin-right: 30px; background-color: rgb(206,138,138); color: #8a203f" class="playAgain">play again</button>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url("https://wallpaperaccess.com/full/3951116.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
    }
.grid {
width: 90%;
height: 300px;
display: flex;
flex-wrap: wrap;
margin: 60px auto;
}

.grid img {
margin: 2px;
transform-style: preserve-3d;
transition: transform 0.5s;
}

.grid img.flip {
transform: rotateY(180deg);
}

.popup {
width: 200px;
height: 200px;
z-index:20;
position: fixed;
top: 100px;
left: 100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.data {
display: flex;
justify-content: space-between;
padding: 20px 30px;
font-size: 23px;
}

.data span {
color: rgb(135, 165, 168);
font-size: 30px;
}
</style>


<script>

    let cardArray = [
        { name: "fries", img: src="https://images.vexels.com/media/users/3/230822/isolated/lists/65845480abeca8fa8de29d0a91765177-french-fries-cartoon.png", },
        { name: "fries", img: src="https://images.vexels.com/media/users/3/230822/isolated/lists/65845480abeca8fa8de29d0a91765177-french-fries-cartoon.png", },
        { name: "pizza", img: src="https://images.vexels.com/media/users/3/230796/isolated/lists/28fd4675876fbf3f580ab5b0a9785449-happy-pizza-slice-cartoon.png", },
        { name: "pizza", img: src="https://images.vexels.com/media/users/3/230796/isolated/lists/28fd4675876fbf3f580ab5b0a9785449-happy-pizza-slice-cartoon.png", },
        { name: "milkshake", img: src= "https://images.vexels.com/media/users/3/240168/isolated/lists/d17a578c03915b108a4c162b62c13fd3-boba-tea-illustration.png", },
        { name: "milkshake", img: src= "https://images.vexels.com/media/users/3/240168/isolated/lists/d17a578c03915b108a4c162b62c13fd3-boba-tea-illustration.png", },
        { name: "ice-cream", img: src= "https://images.vexels.com/media/users/3/143409/isolated/lists/660b9f099fff3269ede645377bc511bf-ice-cream-cartoon.png", },
        { name: "ice-cream", img: src= "https://images.vexels.com/media/users/3/143409/isolated/lists/660b9f099fff3269ede645377bc511bf-ice-cream-cartoon.png", },
        { name: "hot dog", img: src= "https://images.vexels.com/media/users/3/230821/isolated/lists/6f3f5901ef6677801636da0210a056e9-hot-dog-cartoon.png", },
        { name: "hot dog", img: src= "https://images.vexels.com/media/users/3/230821/isolated/lists/6f3f5901ef6677801636da0210a056e9-hot-dog-cartoon.png", },
        { name: "cheeseburger", img: src= "https://images.vexels.com/media/users/3/230823/isolated/lists/aac02a035207de9b98ead97e9642dbba-happy-hamburger-cartoon.png", },
        { name: "cheeseburger", img: src= "https://images.vexels.com/media/users/3/230823/isolated/lists/aac02a035207de9b98ead97e9642dbba-happy-hamburger-cartoon.png", },
    ];

    //define variables and get DOM element

    let grid = document.querySelector(".grid");
    let scoreBoard = document.querySelector(".scoreBoard");
    let popup = document.querySelector(".popup");
    let playAgain = document.querySelector(".playAgain");
    let clickBoard = document.querySelector(".clickBoard");
    let imgs;
    let cardsId = [];
    let cardsSelected = [];
    let cardsWon = 0;
    let clicks = 0;


    document.addEventListener("DOMContentLoaded", function () {
//define functions

        createBoard(grid, cardArray);
        arrangeCard();
        playAgain.addEventListener("click", replay);

//add a click function for images

        imgs = document.querySelectorAll("img");
        Array.from(imgs).forEach(img =>
            img.addEventListener("click", flipCard)
        )
    });

    //createBoard function

    function createBoard(grid, array) {
        popup.style.display = "none";
        array.forEach((arr, index) => {
            let img = document.createElement("img");
            img.setAttribute("src", "https://ouch-cdn2.icons8.com/mdUfwmtrhbQ943Q03pvbYk2d8w8ZvbFQ6uAzGxoZ2GI/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjAz/L2QzNGQxNTE4LTY5/NTYtNGNiYS04OWI5/LTM0YjUyODg0NDhl/Ni5zdmc.png");
            img.setAttribute("data-id", index);
            grid.appendChild(img);
        })
    }

    // arrangeCard function

    function arrangeCard() {
        cardArray.sort(() => 0.5 - Math.random())
    }

    // flip Card function

    function flipCard() {
        let selected = this.dataset.id;
        cardsSelected.push(cardArray[selected].name);
        cardsId.push(selected);
        this.classList.add("flip");
        this.setAttribute("src", cardArray[selected].img);
        if (cardsId.length === 2) {
            setTimeout(checkForMatch, 500);
        }
    }


    // checkForMatch function

    function checkForMatch() {
        let imgs = document.querySelectorAll("img");
        let firstCard = cardsId[0];
        let secondCard = cardsId[1];
        if (cardsSelected[0] === cardsSelected[1] && firstCard !== secondCard) {
            cardsWon += 1;
            scoreBoard.innerHTML = cardsWon;
            setTimeout(checkWon,500)
        } else {

            imgs[firstCard].setAttribute("src", "https://ouch-cdn2.icons8.com/mdUfwmtrhbQ943Q03pvbYk2d8w8ZvbFQ6uAzGxoZ2GI/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjAz/L2QzNGQxNTE4LTY5/NTYtNGNiYS04OWI5/LTM0YjUyODg0NDhl/Ni5zdmc.png");
            imgs[secondCard].setAttribute("src", "https://ouch-cdn2.icons8.com/mdUfwmtrhbQ943Q03pvbYk2d8w8ZvbFQ6uAzGxoZ2GI/rs:fit:256:256/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvNjAz/L2QzNGQxNTE4LTY5/NTYtNGNiYS04OWI5/LTM0YjUyODg0NDhl/Ni5zdmc.png");
            imgs[firstCard].classList.remove("flip");
            imgs[secondCard].classList.remove("flip");
        }
        cardsSelected = [];
        cardsId = [];
        clicks += 1;
        clickBoard.innerHTML = clicks;
    }

    function checkWon() {
        if (cardsWon == cardArray.length / 2) {
            alert("You won")
            setTimeout(()=> popup.style.display = "flex" ,300);
        }
    }


    // The replay function

    function replay() {
        arrangeCard();
        grid.innerHTML = "";
        createBoard(grid, cardArray);
        cardsWon = 0;
        clicks = 0;
        clickBoard.innerHTML = 0;
        scoreBoard.innerHTML = 0;
        popup.style.display = "none";
    }

</script>



</body>
</html>