
<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Natalie" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->

    <!-- this is the title and the name bar code -->
    <!--suppress CssUnknownTarget -->
   <!-- <body style="background-image:url('https://thumbs.gfycat.com/LastDampGhostshrimp-size_restricted.gif');
                                   background-position: center; background-repeat: no-repeat; background-size: cover;  background-attachment:fixed;"> -->

    <!--  <div class="col-12"> -->
    <!--</div> -->

    <div style="margin: 2% 5% 7%; text-align:left; font-family: Arial,serif; color: #ffffff;
                                                                           background-color: rgba(0,0,0,0.4);">
        <!--#faf9e3 -->
        <h1 style="margin: 2% 5%; text-align:center; font-family: Courier New,serif; color: #ffffff;
                             ">Welcome to Natalie's About Page!</h1>
    </div>

    </body>
    <!--this is the first paragraph code -->
    <div class="center-block" style="margin: 2%; text-align: left; font-family: arial; color: #ffffff; background-color: #00000066;" >
            <h3 style="font-family: Courier New; color: #ffffff; margin: 2% ">Hello!</h3>
            <p style="font-family: arial; color: #ffffff; margin: 2%">I'm a junior at Del Norte. Some of my hobbies are softball and field hockey!</p>

    <p style="margin: 2%">Check out our wireframes:</p>

        <iframe class="center-block" style="border: 1px solid rgba(0, 0, 0, 0.1); margin: 2%" width="400" height="225" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FKCFc2evNde191ffmnJlwK0%2FTheme-Ideas%3Fnode-id%3D0%253A1" allowfullscreen></iframe> <br>

        <p style="margin: 2%">Click on the image to toggle mask and no mask:</p>

        <img src="/static/assets/nataliemask.jpg" style="margin: 2%" width="281.25" height="375" id="imgClickAndChange" onclick="changeImage()"/>

        <p style="margin: 2%">
            Here is a random fact about a year:
        </p>

        <p style="margin: 2%"> {{ date }} {{ year }} </p>
        <p style="margin: 2%"> {{ quote }}  </p>

    <p>Home page that has buttons that take the user to the most common features on the website , ex: a button that take you to a homework timer or a music channel. Home page that has a short description of what the website does shows the different functions of our website, SAT/ACT prep daily questions
        , music page that plays relaxing music for studying
        Homework timer that alternates between work time and breaks
        ex: 25 minutes of work and 5 minute break and after certain rounds there is a larger 15 minute break
        user can change break and work times
        Theme that goes along with the main project</p>

    </div>


    <script>
        function changeImage() {

            if (document.getElementById("imgClickAndChange").src.includes('nataliemask.jpg'))
            {
                document.getElementById("imgClickAndChange").src = "/static/assets/nataliepic.jpg";
            }
            else{
                document.getElementById("imgClickAndChange").src ="/static/assets/nataliemask.jpg"
            }
        }
    </script>


    <br>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}