<!DOCTYPE html>
<html lang="en">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
  <meta charset="UTF-8">
  <title>Orange</title>
</head>

{% block body %}

<body style="background-color: #FED270">
<h1>Club Information</h1>
<p><a href="https://docs.google.com/presentation/d/1zgzX6ZNnI1VZX5VGajnbGNNiQhUzJ5lrdueNjmF_9C8/edit?usp=sharing" style="color:white">2021 Interclub Meeting</a></p>
<p><a href="https://www.powayusd.com/PUSD/media/DNHS/ASB/Club-Handbook.pdf" style="color:white">Club Handbook</a></p>
<p><a href="https://www.powayusd.com/PUSD/media/DNHS/ASB/Activities-Request-Form.pdf" style="color:white">Club Activity Request Form</a></p>
<p><a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Students/ASB/Finance-Fundraising-Resources" style="color:white">Finance and Fundraising Resources</a></p>



</body>

</html>

{% endblock %}