{% extends "layouts/base.html" %}

{% set project = "Pranavi" %}

{% block body %}
<div class="container" style="background-color: lightcoral">
    <div class="row justify-content-md-center">
        <table class="table">
            <tbody>
            <tr>
                <div class="center-block" style="margin: 2% 2% 5%; text-align:center; font-family:cursive;";>

                    <title>HTML Background Color</title>
                    <body style="background-color:lightcoral;">
                    <h1>{{name}}</h1>
                    <p>This is Pranavi's Homepage</p>
                    </body>

                    <div class="col-12">
                        <form action="/pranavi/" id="pranavi2" method="POST" >
                            <label for="name">Type your name?</label>
                            <input name="name" id="name">
                            <input type="submit" value="Nice to Meet You!">
                        </form>
                    </div>
                    <br> </br>
                    <p><a href={{url_for('rgbpranavi')}} style="color:white">RGB Pranavi</a></p>
                    <p><a href="https://www.figma.com/file/MKj3Yp5z8l2M9Mgb3zDbbN/My-Page-Wireframe" style="color:white">Figma Wireframe</a></p>


                </div>
            </tr>
            <tr>

                <div class="right-block" style="margin: 2% 2% 5%; text-align:right; font-family:cursive;";>
                    <img id="myImg" src="/static/assets/new-pranavi.png" alt="Pineapple" width="300" height="300">
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}
