<!DOCTYPE html>
<html lang="en">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
  <meta charset="UTF-8">
  <title>Purple</title>
</head>
<div style="background-color: #C8ABCC">
{% block body %}

<body style="background-color: #C8ABCC; align-content: center">
<h1 class="text-center" style="margin-top: 3%;color: black;">Frequently Asked Questions</h1>
<h2 class="text-center" style="margin-top: 3%;color: black;">Where is Del Norte High School located?</h2>
<h2 class="text-center" style="margin-top: 3%;font-size: 23px;color: black;">DNHS is located on a 62 acre site in the 4S Ranch and Del Sur communities near the corner of Camino Del Norte and Lone Quail Road. From Interstate 15, exit Camino Del Norte and head west. Turn left at Lone Quail Road. The main entrance is located at 16601 Nighthawk Lane.</h2>
<h2 class="text-center" style="margin-top: 3%;color: black;">Does Del Norte offer Advanced Placement (AP) and honors classes?</h2>
<h3 class="text-center" style="margin-top: 3%;font-size: 23px;color: black;">While Del Norte will offer honors classes in English, we do not offer honors courses in the other subject areas. This is by design. Our mission statement and graduate profile applies to all students. We expect every graduating senior to be college ready, future focused, and globally aware. All of our classes are college preparatory, and each class is taught by a highly qualified, content-area expert. As an aside, it is important to note that the grades earned in honors classes are not weighted, and that not taking an honors class – where none is offered – has no adverse effect when it comes to college admissions.

  DNHS currently offers 19 Advanced Placement classes that are available in Math, English, History, World Languages, Science, Music, and Art. In addition, Del Norte’s trimester class schedule allows students the opportunity to accelerate their learning, taking as many as 15 classes each year.</h3>




</body>
</div>
</html>

{% endblock %}