<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Red</title>
</head>

{% block body %}

<body style="background-color: #FF776E">
<h1>DNHS Student Information</h1>
<p><a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Student-Life/Activities" style="color:white">Student Activities</a></p>
<p><a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Student-Life/Arts" style="color:white">Student Arts</a></p>
<p><a href="https://www.powayusd.com/en-US/Schools/HS/DNHS/Academics" style="color:white">Student Academics</a></p>


<script>

</script>


</body>

</html>

{% endblock %}