<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Red</title>

    <style>

    </style>

</head>


{% block body %}

<div style="background-color: #FF776E">
<body style="background-color: #FF776E; text-align: center">
<h1 class="text-center" style="margin-top: 3%;color: black;">Bell Schedules</h1>
<br>
<div>
    <table style="background-color: #FF776E; width:75%; align-content: center; margin-left: auto; margin-right: auto; font-family: monospace">
        <tr>
        <th>
            <img style="text-align: center" id="mwt" src="/static/assets/mwt-schedule (1).png" alt="mwt" width="576" height="274">
        </th>
        </tr>
    </table>
<br>
    <table style="background-color: #FF776E; width:77%; align-content: space-evenly; font-family: monospace; margin-left: auto; margin-right: auto">
        <tr>
            <th>
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td>
                <img style="text-align: center" id="tues" src="/static/assets/tues-schedule (2).png" alt="tues" width="576" height="274">
            </td>
            <td>
                <img style="text-align: center" id="fri" src="/static/assets/fri-schedule (3).png" alt="fri" width="576" height="274">
            </td>
        </tr>
        <tr>
            <td><br></td>
            <td><br></td>
        </tr>
    </table>
</div>





<script>

</script>


</body>
</div>
</html>

{% endblock %}