<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Red</title>

    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>

</head>


{% block body %}

<body style="background-color: #FF776E; text-align: center">
<h1 class="text-center" style="margin-top: 3%;color: black;">Bell Schedules</h1>

<div>
<img style="text-align: center" id="mwt" src="/static/assets/mwt-schedule (1).png" alt="mwt" width="464" height="219">
<img style="text-align: center" id="tues" src="/static/assets/tues-schedule (2).png" alt="tues" width="464" height="219">
<img style="text-align: center" id="fri" src="/static/assets/fri-schedule (3).png" alt="fri" width="464" height="219">
</div>





<script>

</script>


</body>

</html>

{% endblock %}