{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Reminders" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div class="textpanel">
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>


    </div>
    </body>
    </html>
{% endblock %}
{% block background %}
{% endblock %}
