{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Reminders" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <style>
        html, body {
            background-image:url('https://cdn.shopify.com/s/files/1/0011/6005/2795/articles/a9cd9dedd3aefe18d18a4d6d9ea8e072.jpg?v=1615565457')
        }
        #header {
            background-color: rgba(0,0,0,0.4);
            margin: 2%;
            text-align: center;
            color: white;
        }


    </style>


    <body>

    <div id="header">
        <h2>Write on the sticky notes!</h2>
    </div>

<!--   <div class="textpanel">
        <textarea id="box1" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box2" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box3" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box4" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box5" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box6" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box7" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
        <textarea id="box8" style="margin: 2%" rows="9" cols="32" placeholder="remind me..."></textarea>
    </div>-->
    <script>
        function onSubmit()
        {
            const MAX_NOTES = 8;
            for (var i = 1; i < MAX_NOTES + 1; i++) {
                idName = `box${i}`;
                //idName = "box1";
                //alert(idName);
                var tmpNote = document.getElementById(idName).value;
                //  This code borrowed from:
                // https://stackoverflow.com/questions/6396101/pure-javascript-send-post-data-without-a-form
                var xhr = new XMLHttpRequest();
                xhr.open("POST", 'https://studycalm.ddns.net:5000', true);
                //xhr.setRequestHeader('Content-Type', 'text/plain');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    idName, tmpNote
                }));
            }
        }
    </script>

    <div class="textpanel">
        {% for ii in range(numUpdates) %}
            <!--<textarea id={{attrib_names[ii].idName}} style={{attrib_names[ii].style}} rows={{attrib_names[ii].rows}} cols={{attrib_names[ii].cols}} placeholder={{attrib_names[ii].placeholder}}>{{persistentNotes[ii]}}</textarea>-->
            <textarea id={{attrib_names[ii].idName}} style="margin: 2%; background-color: #f0f0bd" rows="11" cols="40" placeholder="remind me...">{{persistentNotes[ii]}}</textarea>
        {% endfor %}
    </div>

    <input type="button" value="Post" onclick="onSubmit()">

    <IMG  SRC="/static/assets/flamingo.gif/" height= 394px width= 470px>.


    </body>



    </html>
{% endblock %}
{% block background %}
{% endblock %}
