<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Checklist</title>
        <style>
            table, td, th {
                border: 4px black;
                padding: 50px;
            }
            td, th {
                text-align:center;
                color: black;
                font-size: 20px;
            }
            table{
                width: 75%;
                margin: auto;
            }
            html,body{
                background-color: lightpink;
            }

        </style>
    </head>
    <body>
    <form action="/rewording/" method="POST">
        <input name="user_text" id="user_text" type="text" placeholder="Enter a phrase" name='keyword'>
        <button type="submit">Reword</button>
    </form>
    <table>
        <tr>
            <th>Original Sentence</th>
            <th>Reworded</th>
        </tr>
        <tr>
            <td>{{results.result_text_old}}</td>
            <td>{{results.result_text_new}}</td>
        </tr>
    </table>
    </body>
    </html>
    <style>
    </style>

{% endblock %}