<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block meta %}
    <script>
        var count = 1;

        function myFunction() {


            if (count % 2 == 0) {
                document.getElementById("myImg").style.filter = "grayscale(0)";

            } else {
                document.getElementById("myImg").style.filter = "grayscale(100%)";

            }
            ++count;
        }
        // Hack: add java script function to toggle image from original to gray and back (toggle)
        //  document.getElementById("img<n>").src
        //  document.getElementID("img_gray<n>").innerHTML
        //  help: https://www.geeksforgeeks.org/how-to-change-the-src-attribute-of-an-img-element-in-javascript-jquery/
    </script>
    <title>RGB starter</title>
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <title>Title of the document</title>
    <style>
        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
        }
    </style>
</head>
<body>
<h2>Convert an image into grayscale using HTML/CSS</h2>
<img src="/uploads/media/default/0001/01/b408569013c0bb32b2afb0f0d45e93e982347951.jpeg" width="400" height="300" alt="tree" />
</body>
</html>

{% block body %}
    <h1 class="text-center">RGB values within an Image</h1>
    <div class="container" style="background-color: lightcoral">
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Meta Data</th>
                    <th>Image</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>
                            <div>{{image.file}}</div>
                            <div>{{image.format}}</div>
                            <div>{{image.size}}</div>
                            <div>{{image.label}}</div>
                            <div>{{image.source}}</div>
                        </td>
                        <td>
                            <img class="img-responsive py-3" id=img{{loop.index}} alt="" width="256" height="Auto" src="{{image.base64}}" >
                            <button onclick="myFunction()">Try it</button><br><br>

                            <img id="myImg" src="/static/assets/new-lassen-volcano-256.png" alt="Pineapple" width="300" height="300">
                            <!-- Hack: create button (btn{{loop.index}} to  call javascript function
                       pass index to allow you to toggle images with hidden id's
                       {{image.base64}}  original image
                       {{image.base64_GRAY}}  gray scale image
                    -->
                            <p hidden id="img_orig{{loop.index}}">{{image.base64}}</p>
                            <p hidden id="img_gray{{loop.index}}">{{image.base64_GRAY}}</p>
                        </td>
                        <td>
                            <div class="overflow-auto" style="height: 256px">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{image.mode}}</th>
                                        <th>Hex Code</th>
                                        <th>Binary</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in image.data[:256+1] %}
                                        <tr>
                                            <td>{{loop.index}}</td>
                                            <td>{{row}}</td>
                                            <td>{{image.hex_array[loop.index - 1]}}</td>
                                            <td>{{image.binary_array[loop.index - 1]}}
                                        </tr>
                                        {% if loop.index > 256 %}
                                            <tr><td>...</td><td>truncated</td><td>...</td><td>...</td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}