<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Saathvika" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 7% 10% 10%; text-align:center; font-family:monospace; color:ghostwhite;">
        <body style="background-color:darkseagreen;">
        <div class="col-12">
            <p>Ahoy There, {{name}}!</p>
        </div>

        <div class="col-12">
            <form action="/saathvika/" id="saathvika2" method="POST" >
                <label for="name">Type A Name Matey!</label>
                <input name="name" id="name">
                <input type="submit" value="Welcome Aboard!">
            </form>
        </div>
<br> </br>
<p><a href="https://www.figma.com/file/EWIWrPFR4tlbSN6aaSsMl5/Untitled?node-id=0%3A1" style="margin: 7% 10% 10%; text-align:center; font-family:monospace; color:darkblue">Figma Wireframe</a></p>
        <img src="https://media2.giphy.com/media/VFw2e2dw5ylEYU9cmP/giphy.gif " alt="Sailing Ship" style="width:213px;height:152px;">
    </div>
{% endblock %}


