{% extends "layouts/base.html" %}

{% set project = "Sarayu" %}

{% block body %}
    <div class="center-block" style="margin: 2% 2% 5%; text-align:center; font-family:cursive;";>

        <div class="col-12">
        </div>

        <title>HTML Background Color</title>
        <body style="background-color:mediumaquamarine;">
        <h1>WELCOME</h1>
        <p>This is Sarayu's Homepage</p>
        </body>
        </html>

        <div class="col-12">
            <form action="/sarayu/" id="sarayu2" method="POST" >
                <label for="name">What's your name?</label>
                <input name="name" id="name">
                <input type="submit" value="Nice to Meet You!">
            </form>
        </div>
        <br> </br>
        <p><a href={{url_for('rgbsarayu')}} style="color:white">RGB Sarayu</a></p>
        <p><a href={{url_for('test')}} style="color:white">ColorCodes</a></p>

    <style>
        font-face-name

    </style>




    </div>
{% endblock %}
