{% extends "layouts/base.html" %}

{% set project = "Sarayu" %}

{% block body %}
    <div style="background-color: darkcyan">
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <body>
    <div class="title">
        <h2>About Me: Sarayu Pochimireddy</h2>
        <p> Hi, I'm Sarayu, I'm 16 years old, and a junior at Del Norte. Some of my hobbies include watching movies, specifically Marvel, dance (bharatanatyam), and singing. </p>
    </div>
    <style>
        title {
            height: 14px;
            width: 28px;
            color: #999f8c;

        }
    </style>
    <img src="/static/assets/sarayu.jpg" class="w3-round" alt="Norway">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>



    </head>
    <body>


    </body>
    </html>
    </body>
{% endblock %}

{% block background %}
{% endblock %}