<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div style="text-align: center"
         >Music Recs </div>

    <div style="margin: 2% 5% 7%; text-align: center; color: #e3a175;
                                                                                            background-color: rgba(250, 249, 227, .70);" >
    <div class="col-12">

    <!--this is the first paragraph code -->
    <div class="center-block" style="margin: 2% 5% 7%; text-align: left; color: #999f8c;
                                                                                            background-color: rgba(250, 249, 227, .70);" >
        <div class="col-12">
            <h3 style="; color: #e3a175; ">Insert Music/Playlist here! </h3>
            <h3 style="color: #a46232">Insert link here</h3>

        </div>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}