<!DOCTYPE html>
<html lang="en">
<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}
<head>
  <meta charset="UTF-8">
  <title>Yellow</title>
</head>

{% block body %}
<div style="background-color: #FDF589">
<body style="background-color: #FDF589; align-content: center">
<h1 class="text-center" style="margin-top: 3%;color: black;">DNHS Clubs</h1>

<div class="container">
  <div class="center-block" style="margin: 2% 5% 5%; font-family: 'Monotype Corsiva'">
    <div class="col-12" style="text-align: center;">
      <h2 style="color:darkgoldenrod">Random Club Generator</h2>
      <form action={{url_for('yellow')}}>
        <button style="color: darkgoldenrod">Refresh!</button>
      </form>
      <br>
    </div>
    <!-- Input and Content -->
    <div class="jumbotron text-center">
      <div class="col-md">
    </div>
      <p style="font-family: monospace; color: darkgoldenrod" class="setup">{{club.club}}</p>
    </div>
  </div>

</div>






<style> table, th, td {
  border: 1px solid darkgoldenrod;
  text-align: center;
  border-collapse: collapse;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;}
</style>


  <table style="width:75%; align-content: center; color: darkgoldenrod; font-family: monospace">
    <tr>
      <th>Clubs List</th>
    </tr>
    <tr>
      <td>"To cultivate a desire for learning through team based trivia competitions -- Academic League"</td>
    </tr>
    <tr>
      <td>"To spread kindness and serve the school and community -- Acts of Random Kindness"</td>
    </tr>
    <tr>
      <td>"To create workshops to inspire young girls to pursue STEM -- All Girls STEM Society"</td>
    </tr>
    <tr>
      <td>"To have fun and find people to talk to about anime, games and manga -- Anime Club"</td>
    </tr>
    <tr>
      <td>"To get other people involved in Chess and Compete in chess Tournaments -- Bishops and Knights"</td>
    </tr>
    <tr>
      <td>"To provide a safe space for black students and allies -- Black Student Union"</td>
    </tr>
    <tr>
      <td>"To act as a form for students interested in neuroscience and provide opportunities to nurse neuroscience -- Brain Club"</td>
    </tr>
    <tr>
      <td>"To educate students on the pro-choice movement and encourage women empowerment through advocating for women's reproductive rights -- Club Choice"</td>
    </tr>
    <tr>
      <td>"To learn how to solve computer science security problems and build cybersecurity knowledge -- CTF Club"</td>
    </tr>
    <tr>
      <td>"To prepare emerging leaders and entrepreneurs in marketing, finance, hospitality and business management in high schools and the globe -- DECA"</td>
    </tr>
    <tr>
      <td>"To identify a real-world problem and develop a solution to it. Equips students to become tech entrepreneurs and leaders -- Del Norte Business and Technology"</td>
    </tr>
    <tr>
      <td>"To discuss and destigmatize topics relating to neurodiversity, representation, ableism, resources, self-advocacy, etc -- Del Norte Neurodiversity Advocacy"</td>
    </tr>
    <tr>
      <td>
        "To raise awareness for hunger relief and support the San Diego Food Bank through fundraisers and food drives -- DNHS Food Bank Club"</td>
    </tr>
    <tr>
      <td>"To do shows of improv comedy for the DNHS student body and their families -- DNHS Improv Team"</td>
    </tr>
    <tr>
      <td>"To give students opportunities to share their voice in a safe environment through writing -- DNHS Diverse Diaries"</td>
    </tr>
    <tr>
      <td>"To both provide a safe space for and spread awareness of the LGBTQ+ community at Del Norte -- Gender Sexuality Alliance"</td>
    </tr>
    <tr>
      <td>"To help students explore the medical field and participate in community device projects -- HOSA"</td>
    </tr>
    <tr>
      <td>"To promote volunteering and fundraising for the communities -- Key Club"</td>
    </tr>
    <tr>
      <td>
        "To destigmatize mental illness through letter-writing, advocacy, and creating a safe space for students to de-stress -- Letters to Strangers"</td>
    </tr>
    <tr>
      <td>"To prepare academic trivia competitions: encourage participation, breadth and depth of academic knowledge -- Quiz Bowl"</td>
    </tr>
    <tr>
      <td>"To inspire passion for science and allow access to various scientific competitions for those seeking to take their learning to the next level -- Science Alliance "</td>
    </tr>
    <tr>
      <td>"To play the popular game Super Smash Bros Ultimate and to have fun -- Smash Club"</td>
    </tr>
    <tr>
      <td>"To recite speeches and practice debates on current events; compete at tournaments -- Speech and Debate Club"</td>
    </tr>
    <tr>
      <td>"To use art to help the community -- Stickers for Charity"</td>
    </tr>
    <tr>
      <td>
        "To build a robot for the FRC regional competition in March; also to fund and market the robot -- Team Optix Robotics "</td>
    </tr>
    <tr>
      <td>"To teach students how to crochet and knit -- Teenage Grandma Society"</td>
    </tr>
    <tr>
      <td>"To inspire and motivate young women to pursue STEM Careers -- Women in Science and Engineering</td>
    </tr>
  </table>

</body>
</div>
</html>

{% endblock %}